*
{
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,0.8)),url(mortal.png);
    background-position: center;
    background-size: auto
}
h1 {
    color: rgb(82, 173, 173);
}
.p {
    color: rgb(82, 173, 173);
    font-size: larger;
    width: 1000px;
}
.navbar-brand {
    display: block;
    color: goldenrod;
    font-size: 30px;
}
.navbar-brand:hover {
    color: green;
}
.nav-link:hover {
    color: green;
}
#search {
    margin-bottom: 1rem;
    width: 600px;

}
#button {
    margin-bottom: 3rem;
}
.header-btn {
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 20px;
    background: blue;
    color: whitesmoke;
    float: right;
}
div {
    display: flex;
}
.img {
    width: 300px;
    margin-top: 3rem;
    margin: 1rem;
    color: whitesmoke;
}
.img-fig {
    color: whitesmoke;
    padding: 1rem;
}
